
<nav class="navbar navbar-expand-md border-bottom p-2" >
  <a class="navbar-brand" href={{url_for('home')}} >
    <img class="img-fluid" src="{{ url_for('static',filename='images/ovlfull.svg') }}" style='height:50px'>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href={{url_for('guide')}}>Workout Guide</a>
      </li>
    </ul>
  </div>
</nav>
