{% extends 'base.html' %}

{% block content %}

<div class="container py-5 h-100">
	<div class='row d-flex align-items-center justify-content-center text-center h-100 py-5'>
		<div class='col'>
			<div class='row justify-content-center'>
        		<div class='col-12 col-md-10 col-lg-10 col-xl-8'>
        			<p class='lead'>Every &#333vl plan will involve weekly workouts. For those new to training, a workout differs from a typical run in that you will be given specific intervals to complete during the run. These intervals will be done at faster paces than your easy runs, and are intended to improve your speed, turnover, and familiarity/comfort with your goal race pace. The specific pace or pace-range that you should aim for in your workout intervals will be specified in your training schedule. Every workout will involve a warm-up, a cool-down, and a jogging recovery period between repetitions. All of these portions should be done at your easy pace.</p>
        			<div class="accordion mt-2" id="accordionExample">
        				<div class="accordion-item">
  							<h3 class='accordion-header' id="headingOne" style='font-size:2em'>
    						  	<button class="accordion-button d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" >Naming Convention</button>
    						</h3>
    						<div id="collapseOne" class="accordion-collapse collapse show " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    						  	<div class="accordion-body text-start">
    						   		<p class='lead'>Workouts are typically assigned with the following naming convention: [number of repetitions] x [distance]<br> For example, your plan may include a workout called "6 x 800m". This indicates that you will complete 6 repetitions of 800m intervals. The amount of rest in between reps will be given in your plan details.</p>
    					  		</div>
    						</div>
  						</div>
  						<div class="accordion-item">
  							<h3 class='accordion-header' id="headingOne" style='font-size:2em'>
    					  		<button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo	" aria-expanded="false" aria-controls="collapseTwo" >km/k/kilometer</button>
    						</h3>
    						<div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    						  	<div class="accordion-body">
    						   		<p class='lead'>For those of us on the English system, a kilometer is equivalent of 0.62 miles, or 2.5 laps around a standard distance track.</p>
    					  		</div>
    						</div>
  						</div>
  						<div class="accordion-item">
  							<h3 class='accordion-header' id="headingOne" style='font-size:2em'>
    					  		<button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" >800m</button>
    						</h3>
    						<div id="collapseThree" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    						  	<div class="accordion-body">
    						   		<p class='lead'>800m, or 800 meters, is the equivalent of 0.5 miles, or 2 laps around a standard distance track.</p>
    					  		</div>
    						</div>
  						</div>
  						<div class="accordion-item">
  							<h3 class='accordion-header' id="headingOne" style='font-size:2em'>
    					  		<button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" >400m</button>
    						</h3>
    						<div id="collapseFour" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    						  	<div class="accordion-body">
    						   		<p class='lead'>400m, or 400 meters, is the equivalent of 0.25 miles, or 1 lap around a standard distance track.</p>
    					  		</div>
    						</div>
  						</div>
  						<div class="accordion-item">
  							<h3 class='accordion-header' id="headingOne" style='font-size:2em'>
    					  		<button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" >200m</button>
    						</h3>
    						<div id="collapseFive" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    						  	<div class="accordion-body">
    						   		<p class='lead'>200m, or 200 meters, is the equivalent of 0.125 miles, or 0.5 laps around a standard distance track.</p>
    					  		</div>
    						</div>
  						</div>
  						<div class="accordion-item">
  							<h3 class='accordion-header' id="headingOne" style='font-size:2em'>
    					  		<button class="accordion-button collapsed d-block text-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" >Strides</button>
    						</h3>
    						<div id="collapseSix" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
    						  	<div class="accordion-body">
    						   		<p class='lead'>Strides are short, fast efforts sprinkled into an otherwise easy run. Srides are usually 20-30 seconds in duration and should be done at your goal race pace. These are typically assigned during the final week of the training block. They are not intended to make you "faster", as a typical workout should, and certainly are not intended to be taxing or difficult. Strides are simply to remind your body that race day is around the corner, and to continue to familiarize yourself with your race pace. If done correctly, they will also help with recovery in the final days before your race.</p>
    					  		</div>
    						</div>
  						</div>
  					</div>
  				</div>
    		</div>
    	</div>
    </div>
</div>
{% endblock %}
